{% extends 'base.html' %}
{% include 'header.html' %}



{% block title %} Home {% endblock %}


{% block body %}

<div class="container">
  <div class="row">
    <div class="col-sm-3">
      <a href="{{url_for('Employee')}}">
        <div class="card">
          <img src="{{url_for('static', filename='img/employee.png')}}" data-toggle="tooltip" data-placement="top"
            title="Zaposlenici" />
        </div>
      </a>
    </div>
    <div class="col-sm-3">
      <a href="{{url_for('Fruit')}}">
        <div class="card">
          <img src="{{url_for('static', filename='img/harvest.png')}}" data-toggle="tooltip" data-placement="top"
            title="Voće" />
        </div>
      </a>
    </div>
    <div class="col-sm-3">
      <a href="{{url_for('Item_bill')}}">
        <div class="card">
          <img src="{{url_for('static', filename='img/bills.png')}}" data-toggle="tooltip" data-placement="top"
            title="Stavka računa" />
        </div>
      </a>
    </div>
    <div class="col-sm-3">
      <a href="{{url_for('Bill')}}">
        <div class="card">
          <img src="{{url_for('static', filename='img/bill.png')}}" data-toggle="tooltip" data-placement="top"
            title="Računi" />
        </div>
      </a>
    </div>
  </div>
  </br>
  <div class="row">
    <div class="col-sm-3">
      <a href="{{url_for('Customer')}}">
        <div class="card">
          <img src="{{url_for('static', filename='img/hand-shake.png')}}" data-toggle="tooltip" data-placement="top"
            title="Kupci" />
        </div>
      </a>
    </div>
    <div class="col-sm-3">
      <a href="{{url_for('City')}}">
        <div class="card">
          <img src="{{url_for('static', filename='img/city.png')}}" data-toggle="tooltip" data-placement="top"
            title="Gradovi" />
        </div>
      </a>
    </div>
    <div class="col-sm-3">
      <a href="{{url_for('State')}}">
        <div class="card">
          <img src="{{url_for('static', filename='img/map.png')}}" data-toggle="tooltip" data-placement="top"
            title="Države" />
        </div>
      </a>
    </div>
    <div class="col-sm-3">
      <a href="{{url_for('Delivery')}}">
        <div class="card">
          <img src="{{url_for('static', filename='img/fast-delivery.png')}}" data-toggle="tooltip" data-placement="top"
            title="Dostave" />
        </div>
      </a>
    </div>
  </div>
</div>
</br>

{% endblock %}